{% extends 'base.html' %}
{% block content %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <h1 class="title">Search Bible</h1>
            <form>
                <input class="input" name="searchtext" type="text" type="submit" placeholder="type question">
            </form>
            <div class="block"></div>
            <p> 还不确定问什么吗？可以试试以下问题：</p>
            <ol>
                <li>
                    谁创造了世界万物？
                </li>
                <li>
                    夏娃为什么吃禁果？
                </li>
                <li>
                    耶稣为何为我们而死？
                </li>
                <li>
                    耶稣还会再来吗？
                </li>
                <li>
                    如何祷告？
                </li>
                <li>
                    如何才能永生？
                </li>
            </ol>
        </div>
        <div class="column"></div>
    </div>
{% endblock %}>