{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="title">问圣经</h1>
        <p>可以试试问问以下问题：</p>
        <p>
           {% for oneq in sample_questions %}
               {{ oneq }}
            {% endfor %}
        </p>
        <div class="block"></div>

        <form method="POST">
            <input class="input" name="searchtext" type="text" type="submit"
                   placeholder="输入问题"
                   value={{ question }}>
        </form>
        <div class="block"></div>
        {% if gpt != '' %}
            <h2>ChatGPT的回答</h2>
            <p>
                {{ gpt }}
            </p>
        {% endif %}
        {% if verses %}
            <h2>相关圣经经文</h2>
            <table class="table is-bordered is-striped is is-narrow">
                <tbody>
                {% for one_answer in verses %}
                    <tr>
                        <td>
                            <p>
                                {{ one_answer['name'] }}
                            </p>
                            {% for oneverse in one_answer['verse'] %}
                                {{ oneverse[0] }}  {{ oneverse[1] }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}>